### Symfony ###
/var/
/vendor/
/node_modules/
/public/bundles/
/public/build/

### PHPUnit ###
/.phpunit.cache/

### Composer ###
composer.lock

### IDE ###
/.idea/
/.vscode/
/*.iml

### MacOS ###
.DS_Store

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
.env.test.local
.env.test.local
.env.test.local
